body {
  box-sizing: border-box;
}

nav {
  background-color: rgb(218, 216, 216);
  height: 4rem;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* justify-content: space-around; */
}

a {
  color: #252525;
  border: 1px solid #252525;
  background-color: transparent;
  height: 1rem;
  width: fit-content;
  padding-left: 2rem;
  /* padding-right: 2rem; */
  padding: 0.5rem 2rem;
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-left: 0.7rem;
}

button {
  padding: 0.8rem;
}
input {
  padding: 0.6rem;
}
